<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Back To School | User Reporting Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <header class="shifted user-part">
            <nav>
                <div class="left">
                    <div class="logo-text">Back To School</div>
                </div>
                <div class="right">
                    <a href="/">Home</a>
                    <a href="/user/profile">Profile</a>
                    <a href="/user/report">Report A Case</a>
                    <a href="/user/logout">Sign Out</a>
                </div>
            </nav>
            <h3>Make A Report</h3>
        </header>
        <div class="body-wrapper">
            <div class="avatar"></div>
              <form action="/user/report" method="post" class="report-form">
                <div class="container">
                    <div class="left">
                        <h3>Child Details</h3>

                        <% if(errors.email_or_phone != null) {%>
                            <small style="text-align:center;color:red;font-size: 15px;text-align: left;"><%= errors.email_or_phone %></small>
                        <% } %>

                        <% if(errors.full_name != null) {%>
                            <small style="text-align:center;color:red;font-size: 12px;text-align: left;"><%= errors.full_name.message %></small>
                        <% } %>

                        <% if(locals.message){ %>
                            <small style="text-align:center;color:green;font-size: 15px;text-align: center;"><%=message.success%></small>
                        <% } %>
                        <% if(locals.message){ %>
                            <small style="text-align:center;color:red;font-size: 15px;text-align: center;"><%=message.error%></small>
                        <% } %>

                        <% if(errors.name != null) {%>
                            <small style="text-align:center;color:red;font-size: 12px;text-align: left;"><%= errors.name.message %></small>
                        <% } %>

                        <div class="input-container">
                            <div class="left">
                              <i class="fa fa-user"></i>
                            </div>
                            <div class="right">
                              <input type="text" id="child_name" name="name" placeholder="Enter Child's Name" value="<% if(request.name != null){%><%= request.name %><%}else{%><%= report.name %><%}%>">
                            </div>
                        </div>

                        <% if(errors.age_range != null) {%>
                            <small style="text-align:center;color:red;font-size: 12px;text-align: left;"><%= errors.age_range.message %></small>
                        <% } %>

                        <div class="input-container">
                          <div class="left">
                            <i class="fa fa-sliders"></i>
                          </div>
                          <div class="right">
                              <select class="" name="age_range" id="age_range">
                                  <option value="">Select Age Range</option>
                                  <option value="0 to 5" <% if(request.age_range != null && request.age_range == '0 to 5'){%><%= 'selected' %><%}else if(report.age_range != null && report.age_range == '0 to 5'){%><%= 'selected' %><%}%> >0 to 5</option>
                                  <option value="6 to 10" <% if(request.age_range != null && request.age_range == '6 to 10'){%><%= 'selected' %><%}else if(report.age_range != null && report.age_range == '6 to 10'){%><%= 'selected' %><%}%>>6 to 10</option>
                                  <option value="11 to 15" <% if(request.age_range != null && request.age_range == '11 to 15'){%><%= 'selected' %><%}else if(report.age_range != null && report.age_range == '11 to 15'){%><%= 'selected' %><%}%>>11 to 15</option>
                                  <option value="16 and higher" <% if(request.age_range != null && request.age_range == '16 and higher'){%><%= 'selected' %><%}else if(report.age_range != null && report.age_range == '16 and higher'){%><%= 'selected' %><%}%>>16 and higher</option>
                              </select>
                          </div>
                        </div>

                        <% if(errors.gender != null) {%>
                            <small style="text-align:center;color:red;font-size: 12px;text-align: left;"><%= errors.gender.message %></small>
                        <% } %>

                        <div class="input-container">
                          <div class="left">
                              <i class="fa fa-intersex"></i>
                          </div>
                          <div class="right">
                              <select class="" name="gender" id="gender">
                                  <option value="">Select Gender</option>
                                  <option value="Male" <% if(request.gender != null && request.gender == 'Male'){%><%= 'selected' %><%}else if(report.gender != null && report.state == 'Male'){%><%= 'selected' %><%}%> >Male</option>
                                  <option value="Female" <% if(request.gender != null && request.gender == 'Female'){%><%= 'selected' %><%}else if(report.gender != null && report.state == 'Female'){%><%= 'selected' %><%}%>>Female</option>
                              </select>
                          </div>
                        </div>

                        <% if(errors.state != null) {%>
                            <small style="text-align:center;color:red;font-size: 12px;text-align: left;"><%= errors.state.message %></small>
                        <% } %>

                        <div class="input-container">
                          <div class="left">
                              <i class="fa fa-globe"></i>
                          </div>
                          <div class="right">
                              <select class="state_of_origin" name="state" id="states">
                                  <option value="">Select State</option>
                              </select>
                              <input type="hidden" id="nationality_val" value="161">
                              <input type="hidden" id="state_of_origin_val" value="<% if(request.state != null){%><%= request.state %><%}else{%><%= report.state %><%}%>">
                          </div>
                        </div>

                        <% if(errors.local_government != null) {%>
                            <small style="text-align:center;color:red;font-size: 12px;text-align: left;"><%= errors.local_government.message %></small>
                        <% } %>

                        <div class="input-container">
                          <div class="left">
                              <i class="fa fa-globe"></i>
                          </div>
                          <div class="right">
                              <select class="" name="local_government" id="local_government">
                                  <option value="">Select Local Government</option>
                              </select>
                              <input type="hidden" id="local_government_val" value="<% if(request.local_government != null){%><%= request.local_government %><%}else{%><%= report.local_government %><%}%>">
                          </div>
                        </div>

                        <% if(errors.city != null) {%>
                            <small style="text-align:center;color:red;font-size: 12px;text-align: left;"><%= errors.city.message %></small>
                        <% } %>

                        <div class="input-container">
                            <div class="left">
                              <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="right">
                              <input id="city" type="text" name="city" placeholder="Enter City Where You Saw the Child" value="<% if(request.city != null){%><%= request.city %><%}else{%><%= report.city %><%}%>">
                            </div>
                        </div>

                        <% if(errors.address != null) {%>
                            <small style="text-align:center;color:red;font-size: 12px;text-align: left;"><%= errors.address.message %></small>
                        <% } %>

                        <div class="input-container">
                            <div class="left">
                              <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="right">
                              <input type="text" name="address" placeholder="Enter Child's Address" value="<% if(request.address != null){%><%= request.address %><%}else{%><%= report.address %><%}%>">
                            </div>
                        </div>

                        <% if(errors.parent_no != null) {%>
                            <small style="text-align:center;color:red;font-size: 12px;text-align: left;"><%= errors.parent_no.message %></small>
                        <% } %>

                        <div class="input-container">
                            <div class="left">
                              <i class="fa fa-phone"></i>
                            </div>
                            <div class="right">
                              <input type="text" name="parent_no" placeholder="Enter Child's Parent No" value="<% if(request.parent_no != null){%><%= request.parent_no %><%}else{%><%= report.parent_no %><%}%>">
                            </div>
                        </div>

                        <% if(errors.cause != null) {%>
                            <small style="text-align:center;color:red;font-size: 12px;text-align: left;"><%= errors.cause.message %></small>
                        <% } %>

                        <div class="input-container">
                            <div class="left">
                              <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="right">
                                <select class="" name="cause" id="cause">
                                    <option value="">Select Cause Of Being Out Of School</option>
                                    <option value="Natural Disasters" <% if(request.cause != null && request.cause == 'Natural Disasters'){%><%= 'selected' %><%}else if(report.cause != null && report.cause == 'Natural Disasters'){%><%= 'selected' %><%}%>>Natural Disasters</option>
                                    <option value="Gender Discrimination" <% if(request.cause != null && request.cause == 'Gender Discrimination'){%><%= 'selected' %><%}else if(report.cause != null && report.cause == 'Gender Discrimination'){%><%= 'selected' %><%}%>>Gender Discrimination</option>
                                    <option value="Armed Conflict" <% if(request.cause != null && request.cause == 'Armed Conflict'){%><%= 'selected' %><%}else if(report.cause != null && report.cause == 'Armed Conflict'){%><%= 'selected' %><%}%>>Armed Conflict</option>
                                    <option value="Language Challenges" <% if(request.cause != null && request.cause == 'Language Challenges'){%><%= 'selected' %><%}else if(report.cause != null && report.cause == 'Language Challenges'){%><%= 'selected' %><%}%>>Language Challenges</option>
                                    <option value="Household Poverty" <% if(request.cause != null && request.cause == 'Household Poverty'){%><%= 'selected' %><%}else if(report.cause != null && report.cause == 'Household Poverty'){%><%= 'selected' %><%}%>>Household Poverty</option>
                                    <option value="Child Labour" <% if(request.cause != null && request.cause == 'Child Labour'){%><%= 'selected' %><%}else if(report.cause != null && report.cause == 'Child Labour'){%><%= 'selected' %><%}%>>Child Labour</option>
                                    <option value="Child Marriage" <% if(request.cause != null && request.cause == 'Child Marriage'){%><%= 'selected' %><%}else if(report.cause != null && report.cause == 'Child Marriage'){%><%= 'selected' %><%}%>>Child Marriage</option>
                                    <option value="Illnesses" <% if(request.cause != null && request.cause == 'Illnesses'){%><%= 'selected' %><%}else if(report.cause != null && report.cause == 'Illnesses'){%><%= 'selected' %><%}%>>Illnesses</option>
                                    <option value="Disabilites" <% if(request.cause != null && request.cause == 'Disabilites'){%><%= 'selected' %><%}else if(report.cause != null && report.cause == 'Disabilites'){%><%= 'selected' %><%}%>>Disabilites</option>
                                    <option value="Low number of schools" <% if(request.cause != null && request.cause == 'Low number of schools'){%><%= 'selected' %><%}else if(report.cause != null && report.cause == 'Low number of schools'){%><%= 'selected' %><%}%>>Low number of schools</option>
                                    <option value="Lack of qualified teachers" <% if(request.cause != null && request.cause == 'Lack of qualified teachers'){%><%= 'selected' %><%}else if(report.cause != null && report.cause == 'Lack of qualified teachers'){%><%= 'selected' %><%}%>>Lack of qualified teachers</option>
                                    <option value="Lack of school materials" <% if(request.cause != null && request.cause == 'Lack of school materials'){%><%= 'selected' %><%}else if(report.cause != null && report.cause == 'Lack of school materials'){%><%= 'selected' %><%}%>>Lack of school materials</option>
                                    <option value="Religious beliefs" <% if(request.cause != null && request.cause == 'Religious beliefs'){%><%= 'selected' %><%}else if(report.cause != null && report.cause == 'Religious beliefs'){%><%= 'selected' %><%}%>>Religious beliefs</option>
                                    <option value="Absence from school" <% if(request.cause != null && request.cause == 'Absence from school'){%><%= 'selected' %><%}else if(report.cause != null && report.cause == 'Absence from school'){%><%= 'selected' %><%}%>>Absence from school</option>
                                    <option value="Distance from school" <% if(request.cause != null && request.cause == 'Distance from school'){%><%= 'selected' %><%}else if(report.cause != null && report.cause == 'Absence from school'){%><%= 'selected' %><%}%>>Distance from school</option>
                                    <option value="Unknown" <% if(request.cause != null && request.cause == 'Unknown'){%><%= 'selected' %><%}else if(report.cause != null && report.cause == 'Unknown'){%><%= 'selected' %><%}%>>Unknown Reasons</option>
                                </select>
                            </div>
                        </div>

                      </div>
                      <div class="right">
                          <h3 class="related">Related Reports</h3>
                      </div>
                  </div>

                  <div class="btn-container">
                    <button name="button">Send Report</button>
                  </div>
              </form>

        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>
